* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background: #c2cbf894;
    height: 100vh;
}

.title{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 90px;
    text-align: center;
    color: #111111; 
    margin-bottom: 1px;
}

form {                                                                                                                                                                       
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 20px;
    background-color: white; 
    padding: 30px;
    max-width: 400px;
    margin: 5px;
    transition: background-color 0.3s, transform 0.3s; 
}
form:hover{
    transform: scale(1.05); 
}

.titleNote {
    background-color: #f8f9fa; 
    color: #333; 
    border: 1px solid #ced4da; 
    height: 50px; 
    border-radius: 10px;
    padding: 10px; 
    margin-bottom: 20px; 
    font-size: 18px; 
}

#descriptionId {
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    height: 120px;
    font-size: 16px;
    resize: none;
}

::placeholder {
    color: #999; 
    font-size: 16px; 
}

.buttonAdd {
    cursor: pointer;
    background-color: #ebeff552; 
    color: white; 
    border: none;
    border-radius: 5px; 
    padding: 12px 20px; 
    font-size: 16px; 
    transition: background-color 0.3s, transform 0.3s; 
}

.buttonAdd:hover {
    background-color: #95abcc2c;
    transform: translateY(-2px);
}

.btn {
    background-color: #567ab1; 
    color: white; 
    border: none;
    height: 50px; 
    gap: 10px;
    border-radius: 100px; 
    transition: background-color 0.3s, transform 0.3s; 
}

.btn:hover {
    background-color: #142fc9; 
    transform: scale(1.05); 
}

.col-auto {
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: 10px;   
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 600px; 
    margin: auto; 
}

